@model IEnumerable<Cumulative_1.Models.Course>

<div class="table-list">
    <h1>Courses List</h1>
@foreach (Cumulative_1.Models.Course Course in Model)
{
    <a href="/CoursePage/Show/@Course.courseId">@Course.coursecode</a>
}
</div>