@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-7">Welcome to the C# assignment <span class="text-danger">Cumulative Part 1</span></h1>
    <p>You can use navigation from the header section.</p>
</div>
