@model IEnumerable<Cumulative_1.Models.Student>

<div class="table-list">
    <h1>Students List</h1>

    <div class="d-flex justify-content-end mb-15">
        <a href="/StudentPage/New" class="btn btn-warning">Add New Student</a>
    </div>

    <div class="listing">
        @foreach (Cumulative_1.Models.Student Student in Model)
        {
            <a href="/StudentPage/Show/@Student.StudentId">@Student.StudentFName @Student.StudentLName</a>
        }
    </div>
</div>